{% extends "usuario/index.html" %}
{% block content %}
<div class="card bg-success text-white mb-4">
    <div class="card-body">Cadastrar Usuário</div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="/usuario/cadastro">Registrar</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Usuários
    </div>
    <div class="card-body">
        <table id="usuarios">
        </table>
    </div>
</div>
{% endblock content %}